@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  body{
    display: grid;
    background-color: black;
    justify-content: center;
    align-items: center;
  }
  
  #navbar{
    width: 100%;
    height: 5rem;
      display: flex;
      justify-content: space-between;
      background-color: black;
      color: white;
      align-items: center;
      border-bottom: 5px solid gray;

  }


  #navbar .tag{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }

 
  .nav-link{
    display: flex;
  justify-content: space-evenly;
  }

  #navbar .nav-link a {
text-decoration: none;
margin-right: 3rem;
color: rgb(255, 255, 255);
  }


 


#Contacts{
  background-color: gray;
  width: 4.5rem;
  border-radius: 10px;
}







#welcome-section {
  background-image: url('https://cdn.pixabay.com/photo/2016/10/15/15/17/digital-1742679_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(150px, auto);
  color: rgb(5, 5, 5);
  grid-row-gap: 3rem;
  margin-bottom: 1.5rem;
  padding: 20px; 
}





























  .grid-container {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 20px;
    grid-auto-rows: minmax(150px, auto);
     
  }
  
  .details1,
  .details2,
  .details3 {
   background-color: aqua;
  }
  
  #p1,
  #p2,
  #p3 {
    background-color: aquamarine;
  }



  
  









  #profile-link {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    
    
  }

.btn{
  background-color: rgb(0, 0, 0);
  height: auto;
  border-radius: 10px;
  border: 5px solid gray;
  cursor: pointer;
  
  

  
}
