@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  body{
    display: grid;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
  }
  
  #navbar{
    width: 100%;
    height: 5rem;
      display: flex;
      justify-content: space-between;
      background-color: black;
      color: white;
      align-items: center;
      border-bottom: 5px solid gray;

  }


  #navbar .tag{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }

 
  .nav-link{
    display: flex;
  justify-content: space-evenly;
  }

  #navbar .nav-link a {
text-decoration: none;
margin-right: 3rem;
color: rgb(255, 255, 255);
  }


#Contacts{
  background-color: gray;
  width: 4.5rem;
  border-radius: 10px;
}


<<<<<<< HEAD
=======

>>>>>>> dd8e638b50c311398a949d6ec5873f1bf4dd4658
#welcome-section {
  background-image: url('https://wallpaperaccess.com/full/4230797.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(30rem, auto);
  color: rgb(5, 5, 5);
  grid-row-gap: 3rem;
  margin-bottom: 1.5rem;
  padding: 20px; 
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: large;
}

<<<<<<< HEAD

=======
>>>>>>> dd8e638b50c311398a949d6ec5873f1bf4dd4658
  .grid-container {
    display: grid;
    grid-template-columns: 29.375rem 29.375rem; 
    gap: 20px;
    grid-auto-rows: minmax(150px, auto);
     
  }
  
  .details1,
  .details2,
  .details3 {
   background: linear-gradient(to top, rgb(129, 128, 128), rgb(0, 0, 0));
   color: white;
  font-style: italic;
  
  
  }
  
  #p1,
  #p2,
  #p3 {
    border-radius: 10px;
    
  }

  .project-tile{
    color: white;
    display: grid;
    justify-content: center;
    margin: 2rem;
    font-size: xx-large;
  }

<<<<<<< HEAD

=======
>>>>>>> dd8e638b50c311398a949d6ec5873f1bf4dd4658
  #profile-link {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: grid;
    justify-content: center;
    
    
  }

.btn{
  background-color: rgb(0, 0, 0);
  height: auto;
  border-radius: 10px;
  border: 5px solid gray;
  cursor: pointer;
 width: 30%;
  background-color: gray;
 margin-top: 2rem;
  border-radius: 10px;
text-decoration: none;
display: grid;
justify-content: center;
  
}


#Explore{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

